{% extends "base.html" %}

{% block title %}pitftmanager-web{% endblock %}

{% block header %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <p class="navbar-brand">pitftmanager-web</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/tsbarnes/pitftmanager-web">pitftmanager-web GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/tsbarnes/pitftmanager">pitftmanager GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="btn-group btn-group-lg">
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('previous_app') }}">Previous</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('reload') }}">Reload</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('next_app') }}">Next</a>
            </div>

            <div class="btn-group btn-group-lg">
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('refresh_calendar') }}">Refresh Calendar</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('refresh_weather') }}">Refresh Weather</a>
            </div>

            <form class="form" action="{{ url_for('switch_app') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="app">
                    <button type="submit" class="btn btn-outline-info">Switch App</button>
                    <div class="form-text">
                        Enter the name of the app module you want to use
                    </div>
                </div>
            </form>

            <form class="form" action="{{ url_for('load_app') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="app">
                    <button type="submit" class="btn btn-outline-info">Load App</button>
                    <div class="form-text">
                        Enter the name of the app module you want to load
                    </div>
                </div>
            </form>

            <form class="form" action="{{ url_for('remove_app') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="app">
                    <button type="submit" class="btn btn-outline-info">Remove App</button>
                    <div class="form-text">
                        Enter the name of the app module you want to unload
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <h1>System Info</h1>
            <table class="table-responsive">
                <tr>
                    <td>OS:</td>
                    <td>{{ system.dist() }}</td>
                </tr>
                <tr>
                    <td>Model:</td>
                    <td>{{ system.model() }}</td>
                </tr>
                <tr>
                    <td>Temperature:</td>
                    <td>{{ system.temperature() }}°</td>
                </tr>
                <tr>
                    <td>Network Sent:</td>
                    <td>{{ system.network_total_sent() }}</td>
                </tr>
                <tr>
                    <td>Network Received:</td>
                    <td>{{ system.network_total_received() }}</td>
                </tr>
                <tr>
                    <td>Hostname:</td>
                    <td>{{ system.node() }}</td>
                </tr>
                <tr>
                    <td>Local IPv4 Address:</td>
                    <td>{{ system.local_ipv4_address() }}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td><abbr title="{{ system.uptime() }}">{{ system.human_uptime() }}</abbr></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
    </div>
{% endblock %}
