{% extends "base.html" %}

{% block title %}epdtext-web{% endblock %}

{% block header %}
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <p class="navbar-brand">epdtext-web</p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="btn-group btn-group-lg">
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('next_screen') }}">Next</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('reload') }}">Reload</a>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('previous_screen') }}">Previous</a>
            </div>

            <div class="btn-group">
                <a class="btn btn-outline-secondary" href="{{ url_for('button0') }}">KEY1</a>
                <a class="btn btn-outline-secondary" href="{{ url_for('button1') }}">KEY2</a>
                <a class="btn btn-outline-secondary" href="{{ url_for('button2') }}">KEY3</a>
                <a class="btn btn-outline-secondary" href="{{ url_for('button3') }}">KEY4</a>
            </div>

            <form class="form" action="{{ url_for('screen') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="screen">
                    <button type="submit" class="btn btn-outline-info">Switch Screen</button>
                    <div class="form-text">
                        Enter the name of the screen module you want to use
                    </div>
                </div>
            </form>

            <form class="form" action="{{ url_for('add_screen') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="screen">
                    <button type="submit" class="btn btn-outline-info">Add Screen</button>
                    <div class="form-text">
                        Enter the name of the screen module you want to load
                    </div>
                </div>
            </form>

            <form class="form" action="{{ url_for('remove_screen') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="screen">
                    <button type="submit" class="btn btn-outline-info">Remove Screen</button>
                    <div class="form-text">
                        Enter the name of the screen module you want to unload
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
    </div>
{% endblock %}
